* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-wrap: wrap;
  padding: 0.5rem 1rem;
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 1);
  z-index: 5;

  section.left {
    display: flex;

    img {
      height: 40px;
      width: 40px;
    }
  }

  nav ul {
    display: flex;

    li {
      list-style-type: none;
      padding: 0.5rem;

      a {
        text-decoration: none;
        color: #09777d;
      }
    }
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0e0f0f;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #09777d;
}

@media screen and (max-width: 600px) {
  header {
    justify-content: center;
  }
}

main {
  section.backimage {
    width: 100%;
    min-height: 90vh;
    background-image: url(./資源包/Pictures/pexels-photo-416676.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    div.filter {
      background-color: rgba(0, 0, 0, 0.4);
      width: 100%;
      min-height: 100%;
      position: absolute;
      top: 0px;
    }

    div.words {
      position: absolute;
      text-align: center;

      h3 {
        color: white;
        font-size: 2.5rem;
      }

      button.start {
        margin-top: 3rem;
        color: black;
        padding: 1rem 2rem;
        font-size: 2rem;
        background-color: #3bf0e5;
        border-radius: 1rem;
        border: none;
        cursor: pointer;
        z-index: 5;
      }
    }
  }

  section.options {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      text-align: center;
      font-size: 2rem;
      padding: 3rem;
      span {
        color: #09777d;
      }
    }

    section.circles {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      section.card {
        flex: 1 1 300px;
        display: flex;
        flex-direction: column;
        align-items: center;

        div.image-container {
          overflow: hidden;
          width: 160px;
          height: 160px;
          border-radius: 50%;
        }

        img:hover {
          transform: scale(1.2);
          transition: 0.5s;
        }

        img {
          // display: block;
          width: 160px;
          height: 160px;
          border-radius: 50%;
          // margin: auto;
        }

        h4 {
          font-size: 1.5rem;
          margin: 1rem;
        }

        div.paragraph {
          height: 120px;

          p {
            text-align: center;
            font-size: 1.2rem;
            padding: 0 1rem;
          }
        }

        a {
          padding: 1rem 1.5rem;
          background-color: #09777d;
          color: white;
          text-decoration: none;
          font-size: 1.5rem;
          border-radius: 1rem;
        }
      }
    }
  }
}

footer {
  div.grey {
    margin-top: 2rem;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;

    div.bottom {
      margin: 1rem;
      display: flex;
      align-items: center;

      img {
        width: 40px;
        height: 40px;
      }

      h3 {
        font-size: 1.5rem;
      }
    }

    nav ul {
      display: flex;
      justify-content: space-around;
      list-style-type: none;

      a {
        text-decoration: none;
        color: black;
        font-size: 1.5rem;
        padding: 0.5rem;
      }
    }

    div.icons {
      display: flex;
      justify-content: space-around;
      margin: 2rem;
      img {
        height: 40px;
        width: 40px;
        padding: 0 1rem;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  main {
    section.backimage {
      img {
        min-height: 50vh;
      }

      div.words {
        h3 {
          font-size: 1.8rem;
        }

        button.start {
          margin-top: 0.5rem;
          font-size: 1rem;
          padding: 0.5rem 1rem;
        }
      }
    }
  }
}

@media screen and(max-width:880px) {
  main {
    section.options {
      h3 {
        font-size: 1.5rem;
      }

      span {
        font-size: 1.5rem;
      }
    }
  }
}

@media screen and(max-width:690px) {
  main {
    section.options {
      h3 {
        font-size: 1rem;
      }

      span {
        font-size: 1rem;
      }

      div.paragraph {
        max-height: 6rem;
      }

      a {
        margin-bottom: 2rem;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  main {
    section.options {
      h3 {
        font-size: 0.8rem;
        padding: 1.5rem;
      }

      span {
        font-size: 1rem;
      }
    }
  }
}
